extends layout
block content

  h1= title
  div(class="container-fluid")
  div(class="row")
    each dragon ,index in results 
            table(style='width:100%')
                tr
                    div(class="col-sm-2" onclick=`buy(${index})`) #{dragon.dragonname}
                    div(class="col-sm-2" onclick=`buy(${index})`) #{dragon.feature}
                    div(class="col-sm-2" onclick=`buy(${index})`) #{dragon.ranking}

    script.
     
      function buy(itemNo)
      {
        alert(`Places to visit ${itemNo+1}`)
      }
