extends layout

block content
  h1= title
  - let createdestination = `dispatch(\"/resource/create")`
  button.btn( class="btn-primary ml-1",id="create" onclick= createdestination) create
  - var results = results
  div(class="container-fluid") 
    div(class="row m-1") 
      each item in results  
        - let destination = `dispatch(\"/resource/update?id=${item._id}\")`
        - let deletedestination = `dispatch(\"/resource/delete?id=${item._id}\")`
        - let detailviewdestination = `dispatch(\"/resource/detail?id=${item._id}\")`
        div(class="row-sm-2", class="m-1") Item #{item.dragonname}(#{item.feature}) is #{item.ranking} 
          button.btn( class="btn-primary ml-1", onclick= destination) Update 
          button.btn( class="btn-danger ml-1", onclick= deletedestination) Delete 
          button.btn( class="btn-warning ml-1", onclick= detailviewdestination) detailview
   
  script. 
    function dispatch(path){ 
      window.location.href=path 
    }