extends layout 
 
block content 
  h1= title 
 
  if (toShow == null) 
    h2 No instance to delete 
  else 
    - let dragonid = toShow._id 
    - let dragonname = toShow.dragonname
    - let dragonfeature = toShow.feature
    - let dragonranking = toShow.ranking
    - let actionid = "/resource/dragons/" + dragonid 
    script let actionid = "#{actionid}" 
    div 
      div.row 
        div(class='dragonAttr mr-3') Dragon ID is: 
        div #{dragonid} 
      div.row 
        div(class='dragonAttr mr-3') Dragon Name is: 
        div #{dragonname} 
      div.row 
        div(class='dragonAttr mr-3') Dragon Feature is: 
        div #{dragonfeature} 
      div.row 
        div(class='dragonAttr mr-3') Dragon Ranking is: 
        div #{dragonranking} 
 
    button(class="btn btn-danger m-2" onclick="deleteOnid()") Delete 
    button(class="btn btn-secondary m-2" onclick="cancel()") Cancel 
 
  script. 
    function cancel() { 
      // Go back to the home page for the dragon collection 
      window.location.href='/dragon' 
    } 
  script. 
    function deleteOnid() { 
      console.log("starting delete") 
      // delete first 
      fetch(actionid, { 
        method: 'DELETE'      
      }).then((resp) => { 
        return resp.json(); // or resp.text() or whatever the server sends 
      }).then((body) => { 
        alert("Delete succeded") 
        window.location.href='/dragon' 
        // TODO handle body 
      }).catch((error) => { 
        // TODO handle error 
        alert("Delete failed " + error ) 
      }); 
    }